<simple-notifications [options]="options"></simple-notifications>
<div class="container">
    <div class="row" style="margin-top: 30px;">
        <div class="col-xs-6 col-md-6 col-sm-4" style="float: left;">
        <!-- <angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems" [settings]="dropdownSettings" (onSelect)="onCategorySelect($event)" (onDeSelect)="onCategoryDeselect()"></angular2-multiselect> -->
            <form #categoryItemForm="ngForm" (ngSubmit)="addCategoryItems(categoryItemForm)" style="padding-top: 40px">
                <div class="form-group">
                    <label for="itemName">Item Name</label>
                    <input type="text" ngModel name="itemName" id="itemName" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="itemQuantity">Item Quantity</label>
                    <input type="text" ngModel name="itemQuantity" id="itemQuantity" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="itemPrice">Item Price As Per Quantity</label>
                    <input type="text" ngModel name="itemPrice" id="itemPrice" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="itemDes">About Item</label>
                    <input type="text" ngModel name="itemDes" id="itemDes" class="form-control">
                </div>
                <div class="form-group">
                    <label for="ctImage">CategoryImage</label>
                    <input type="file" (change)="fileChangeEvent($event)" name="ctImage" id="ctImage" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="disabledFlag || !categoryItemForm.valid">Add Item</button>
            </form>
        </div>
        <div class="col-xs-6 col-md-6 col-sm-4" style="float: left;">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th >Image</th>
                        <th >category name</th>
                        <th >Quantity</th>
                        <th >Price</th>
                        <th >Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of selectedCategory">
                        <td><img class="category_image" [src]="item.fileUrl"></td>
                        <td>{{item.name}}</td>
                        <td>{{item.quantity}}</td>
                        <td>{{item.price}}</td>
                        <td>
                            <button class="btn btn-primary">Edit item</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
